<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content Type" content="text/html" charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>GameStatics</title>
</head>
<body>
	<h1 th:text="${game.title}">Title</h1>
	<div class="row"><p th:text="${game.summary}">Summary</p></div>
	<div class="row"><p th:text="${game.review}">Review</p></div>
	<div th:each="comment : ${game.comments}">
		<table>
			<tr>
				<th> Comment </th>
			</tr>
			<tr th:each="comment : ${game.comments}">
				<td>
					<a th:href="" th:text="${comment.user.username}">User</a>
					<p th:text="</ br> + '${comment.comment}">Comment</p>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>