<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content Type" content="text/html" charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>GameStatics</title>
</head>
<body>
	<div class="col-4">
		<ul th:each="genre : ${genres}">
			<li><a th:text="${genre.name}" th:href="@{/gamelist/{id}(id=${genre.id})}"></a></li>
		</ul>
	</div>
	<div class="col-8">
		<table>
			<tr>
				<th>Title</th>
				<th>Comments</th>
				<th>Review</th>
			</tr>
			<tr th:each="game : ${games}">
				<td th:href="@{/game/{id}(id=${game.id})}"><p th:text="${game.title}"></p></td>
				<td><p th:text="${game.comments.size()}"></p></td>
				<td></td>
			</tr>
		</table>
	</div>
</body>
</html>