<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content Type" content="text/html" charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>GameStatics</title>
</head>
<body>
<div class="row">
	<div class="col-8">
		<h1>Welcome to GameStatics</h1>
	</div>
	<div class="col-4">
		<div class="row">
			<div sec:authorize="isAuthenticated()">
				<h6 th:inline="text">Current user: [[${#httpServletRequest.remoteUser}]]</h6>
			</div>
			<form th:action="@{/login}" sec:authorize="isAnonymous()" >
				<input type="submit" class="btn btn-success" value="Login"/>
			</form>
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
				<input class="btn btn-warning" type="submit" value="Sign Out"/>
			</form>
		</div>
	</div>
</div>
	<form th:action="@{/gamelist}">
			<input class="btn btn-outline-dark" type="submit" value="All games"	>
	</form>
	<div th:each="gen : ${genres}">
		<form th:action="@{/gamelist/{id}(id=${gen.id})}">
			<input class="btn btn-outline-dark" type="submit" th:value="${gen.name}">
		</form>
	</div>

</body>
</html>